.searchItem {
  border: 1px solid #7c8a9736;
  padding: 20px;
  border-radius: 5px;
}

.siImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.siDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 2;
}

.siTitle {
  font-size: 20px;
  color: #0071c2;
}

.siDistance {
  font-size: 12px;
}

.siTaxiOp {
  font-size: 12px;
  background-color: #008009;
  color: white;
  width: max-content;
  padding: 3px;
  border-radius: 5px;
}

.siSubtitle{
  font-size: 12px;
  font-weight: bold;
}

.siFeatures{
  font-size: 12px;
}

.siCancelOp{
  font-size: 12px;
  color: #008009;
  font-weight: bold;
}

.siCancelOpSubtitle{
  font-size: 12px;
  color: #008009;
}

.siDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.siRating{
  display: flex;
  justify-content: space-between
}

.siRating>span{
  font-weight: 500;
}
.siRating>button{
 background-color: #003580;
 color: white;
 padding: 5px;
 font-weight: bold;
 border: none;
}

.siDetailTexts{
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.siPrice{
  font-size: 24px;
}

.siTaxOp{
  font-size: 12px;
  color: gray;
}

.siCheckButton{
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.searchCar__item {
  border: 1px solid #7c8a9736;
  padding: 20px;
  border-radius: 5px;
}

.searchCar__item-info span i {
  color:gold;
  font-size: 1.1rem;
}

.rentalCarName{
  font-size: 1.4rem;
  color: #00686b;
  margin-bottom: -10px;
  font-weight: 600;
  transition: 0.3s;
  margin-top: 10px;
}

.searchCar__img img{
 min-height: 200px;
  min-width: 100%;
  object-fit: contain;
}

.searchSection__title{
  font-size: 1rem;
  color: #000d6b;
  font-weight: bold;
}

.searchCar__item-btn {
  border-radius: 0;
  border: none;
  outline: none;
  background: #000d6b;
  padding: 8px 0px;
}

.searchCar__item-btn a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.searchCar__item-btn a:hover {
  color: #fff;
}
.searchCar__btn-details {
  background:rgb(1, 175, 166);
  border-radius: 0px 4px 4px 0px;
}

.searchCar__btn-rent {
  border-radius: 4px 0px 0px 4px;
}

.searchCar__item-content h4 {
  font-size: 1.8rem;
}

.searchCar__item-content h6 {
  font-size: 1.2rem;
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  .searchCar__item {
   min-width: 250px;
  }
  .searchCar__item h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  .searchCar__item h6 {
    font-size: 1rem;
    margin-top: 10px;
  }

  .searchCar__item-info {
    flex-wrap: wrap;
  }

  .searchCar__item-info span {
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .searchCar__item-btn {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {

  .searchCar__item h4 {
    font-size: 1rem;
  }

  .searchCar__item h6 {
    font-size: 0.9rem;
  }

  .searchCar__item-info span {
    font-size: 0.7rem;
  }

  .searchCar__item-info span i {
    font-size: 0.9rem;
  }

  .searchCar__item-btn {
    font-size: 0.8rem;
  }
}
