.listContainer {
  display: flex;
  justify-content: center;
  margin: 10px 4rem;
  gap: 1rem;
}

.listWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: rgb(63, 209, 209);
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
  width: 40%;
}

.lsTitle{
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}

.lsItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem input::placeholder {
  color: #2c2c2c; /* Adjust the color as desired */
  font-style: italic;
  opacity: 0.7;
  font-size: 0.8rem;
  text-transform: capitalize;
}


.lsItem>label{
  font-size: 12px;
}

.lsItem>input{
  height: 30px;
  border: none;
  padding: 5px;
}
.lsItem>span{
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions{
  padding: 10px;
}

.lsOptionItem{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 12px;
}

.lsOptionInput{
  width: 50px;
}

.listSearch>button{
  padding: 10px;
  background-color: #000d6b;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.rentResult {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.rentResult img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.datepicker span{
  color: #2c2c2c;
  font-style: italic;
  opacity: 0.7;
  font-size: 0.8rem;
}


@media only screen and (max-width: 768px) {

  .listWrapper {
    flex-direction: column;
  }

  .listContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .listSearch {
   width: 98%;
   position: static;
  }

  .listContainer {
    margin: 10px;
  }

  .rentResult {
    width: 100%;  
    flex-direction: column;
    
  }

  .rentResult img{
    object-fit: cover;
    height: 200px;
  }
}
