.rent {
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.rentContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 10px 0px;  
}

.rentContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.rentList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.rentListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rentListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.rentDesc {
  margin: 20px 0px;
}

.rentBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.rentSearch {
  height: 3.6rem;
  background-color: white;
  border: 3px solid  #7c8a97;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.rentIcon {
  color: rgb(0, 0, 0);
}

.rentSearchItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 4px;
}

.rentSearchInput {
  border: none;
  outline: none;
}

.rentSearchInput::placeholder {
  color:  #5b5c5c; 
  font-size: 1rem; 
  font-style: italic; 
}

.rentSearchText {
  color:  #7c8a97; 
  font-size: 1rem; 
  font-style: italic;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 130px;
  right: 700px;
  z-index: 2;
}

.options {
    z-index: 2;
    position: absolute;
    top: 130px;
    margin-left: 30px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

.dateInput{
  font-size: 0.8rem;
  text-wrap: wrap;
}



@media only screen and (max-width: 992px) {
  .rentSearchInput::placeholder {
    font-size: 0.8rem; 
  }  

  .dateInput{
    font-size: 0.8rem;
    text-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
  .rentSearch {
    height: auto;
    border: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
  }

  .rentSearchInput, .dateInput, .rentSearchText {
  border: 3px solid #7c8a978e;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-left: auto;
    margin-right: auto;
}

  .formrent {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .rentSearchItem{
    margin-left: auto;
    margin-right: auto;
  }

  .date {  
    top: 150px;
  }
   
}

@media only screen and (max-width: 576px) {
  .date {  
    top: 200px;
    right: 30px;
  }

  .options {
    top: 280px;
    margin-left: 0px;
}
}

